{% extends "forum/base.html" %}
{% block content %}
    <div class="row category">
        <div class="col-6">
            <h4>{{topic}}</h4>
        </div>
        <div class="col-6 description">
            <p class="text-right">{{category}} : {{subcategory}}</p>
            {% if user.is_authenticated %}
                <div class="d-flex flex-row-reverse">
                    <a href="{% url 'edit_topic' topic.pk %}">
                        <button type="button" class="btn btn-outline-secondary btn-sm ">Edytuj temat</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    {% if reply_list %}
        {% for reply in reply_list %}
            <div class="row line-border pl-3 pt-1 pb-1 topic-reply">
                <div class="col-2 reply-author">
                    <h6>
                        {{ reply.author }}
                    </h6>
                </div>
                <div class="col-10">
                    {{ reply.body }}
                </div>
            </div>
                {% if user.is_authenticated %}
                    <div class="d-flex flex-row-reverse">
                        <a href="{% url 'edit_reply' reply.pk %}">
                            <button type="button" class="btn btn-outline-secondary btn-sm ">Edytuj</button>
                        </a>
                    </div>
                {% endif %}
        {% endfor %}
    {% endif %}

    {% if user.is_authenticated %}
        <div class="d-flex flex-row-reverse">
            <a href="{% url 'add_reply' topic.pk %}">
                <button type="button" class="btn btn-outline-secondary btn-sm ">Odpowiedź</button>
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block pagination %}
    <div class="container">
        {% if page_obj.has_other_pages %}
            <div class="row">
                <div class="col-12">
                    <ul class="pagination justify-content-end pagination-dark">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> < </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#"> < </a>
                            </li>
                        {% endif %}

                        {% for page_number in page_obj.paginator.page_range %}
                            {% if page_obj.number == page_number %}
                                <li class="page-item active ">
                                    <span class="page-link">
                                        {{ page_number }}
                                    </span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_number }}"> {{ page_number }} </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}"> > </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#"> > </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}